pipeline/PL_data_ingestion_json_v6.json
{
	"name": "PL_data_ingestion_json_v6",
	"properties": {
		"description": "Ingest Web Store Online Sales Data into the Data Lake",
		"activities": [
			{
				"name": "Copy Online Web Store Sales Data",
				"description": "Copy Online Sales Data from blob Web Store and ingest to Data Lake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_abls_buyalot_webstore",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_adls_data_engineering_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Success Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Online Web Store Sales Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_status",
					"value": "Success"
				}
			},
			{
				"name": "Set Failed Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Online Web Store Sales Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_status",
					"value": "Failed"
				}
			},
			{
				"name": "Log Pipeline Metadata - Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Success Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_util_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"snapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapshotDate, 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runid",
							"type": "Expression"
						},
						"sourceToTargetID": {
							"value": "2",
							"type": "Expression"
						},
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime, 'GMT Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.systemCode",
							"type": "Expression"
						},
						"datasetName": {
							"value": "@pipeline().parameters.datasetName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log Pipeline Metadata - Failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Failed Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_util_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"snapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapshotDate, 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runid",
							"type": "Expression"
						},
						"sourceToTargetID": {
							"value": "2",
							"type": "Expression"
						},
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime, 'GMT Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.systemCode",
							"type": "Expression"
						},
						"datasetName": {
							"value": "@pipeline().parameters.datasetName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get Source To Target Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetSourceToTargetInfo]",
						"storedProcedureParameters": {
							"SourceSystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								}
							},
							"Stage": {
								"type": "String",
								"value": {
									"value": "@variables('v_stage')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_asql_source_to_target_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"systemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"datasetName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"runid": {
				"type": "string",
				"defaultValue": "1"
			},
			"snapshotDate": {
				"type": "string",
				"defaultValue": "2021-07-11"
			}
		},
		"variables": {
			"v_status": {
				"type": "String",
				"defaultValue": "Success"
			},
			"v_stage": {
				"type": "String",
				"defaultValue": "SOURCE_TO_RAW"
			}
		},
		"annotations": []
	}
}