pipeline/web-variable-example.json
{
	"name": "web-variable-example",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://asakeyvaultxhwrzef.vault.azure.net/secrets/PipelineSecret/5f41a34be3454b0dabc8efa115bd8f53?api-version=7.1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SecretValue",
					"value": "@activity('Web1').output.value"
				}
			}
		],
		"variables": {
			"SecretValue": {
				"type": "String"
			}
		},
		"annotations": []
	}
}